<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.recyclerview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".create_refrral"></activity>
        <activity android:name=".nrc_info" />
        <activity android:name=".child_profile" />
        <activity android:name=".agn_manage_profile" />
        <activity android:name=".settingsnrc" />
        <activity
            android:name=".sidedrawer_nrc"
            android:label="@string/title_activity_sidedrawer_nrc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".registration" />
        <activity android:name=".States" />
        <activity android:name=".agnpanel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NRC_main" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>